$title-size: 32rpx;
    $el-space: 24rpx;
    @import '/static/common.scss';

    %title {
        font-size: $title-size;
        font-weight: 700;
    }

    .container {
        padding: $el-space;
        font-size: 28rpx;
        background: linear-gradient(to right bottom, rgb(202, 238, 194), rgb(222, 239, 227));
        min-height: 100vh;
		
        .vphone {
            display: flex;
            text-align: center;
            line-height: 50rpx;

            .phone-img {
                width: 50rpx;
                height: 50rpx;
                margin-right: 15rpx;
            }

            .phone-txt {
               color:v-bind(userColor)
            }
        }

        :deep .ranking-item {
            background-color: transparent;
            color: #1d201e;
            padding: 0;
            height: 36rpx !important;

            .notice-text {
                font-size: 20rpx !important;
            }
        }

        .discount-coupon {
            .tplcoupon {
                margin-top: 25rpx;
            }
        }

        .base-title {
            @extend %title;
            margin-bottom: 20rpx;
        }

        .banner {
            padding: $el-space;
            background-color: #fff;
            border-radius: 12rpx;

            .detail {
                width: 100%;
                overflow: hidden;

                :deep(img) {
                    max-width: 100%;
                }
            }


            .banner__header {
                background: linear-gradient(114deg, #a6f3e0, #eafff1);
                min-height: 200rpx;
                border-radius: 12rpx;
                position: relative;
                margin-bottom: $el-space;

                .header-tag {
                    position: absolute;
                    right: -3rpx;
                    top: -2rpx;
                    background-color: #df773c;
                    color: #fff;
                    font-size: 20rpx;
                    background: url(/static/page1/bq.png) no-repeat center;
                    background-size: 100%;
                    width: 150rpx;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 7rpx 0 12rpx;
                    z-index: 1;
                }
            }

            .banner-blocks {
                display: flex;
                align-items: stretch;
                font-size: 30rpx;

                .banner-block-first {
                    flex: 1 2 auto;
                    background: linear-gradient(to right bottom, rgb(225, 250, 215), rgb(197, 243, 186));
                    border-radius: 12rpx;
                    padding: 24rpx;
                    display: flex;
                    flex-direction: column;

                    .topic-footer {
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                    }

                    .go-topic {
                        margin-top: 100rpx;
                    }

                    .app-btn {
                        display: block;
                        width: 60rpx;
                        height: 60rpx;
                    }

                }

                .banner-block-second {
                    flex: 2 1 auto;
                    border-radius: 12rpx;
                    background: linear-gradient(to right bottom, rgb(250, 247, 219), rgb(250, 236, 206));
                    margin-left: 16rpx;
                    padding: 24rpx;
                    display: flex;
                    flex-direction: column;

                    .immediate-join {
                        font-size: 24rpx;
                        padding: 6rpx 24rpx 8rpx;
                        background: linear-gradient(to right, rgb(253, 146, 73), rgb(238, 68, 114));
                        color: #fff;
                        margin-top: 48rpx;
                        border-radius: 40rpx;
                        width: 120rpx;
                        display: inline-block;
                        text-align: center;
                    }
                }

                .topic-introduction {
                    font-size: 24rpx;
                    color: #666;
                    margin-top: 8rpx;
                }

            }
        }



        .store-show {
            padding: $el-space;
            background-color: #fff;
            border-radius: 12rpx;
            margin-bottom: 32rpx;
        }

        .commodities-show {
            padding: $el-space;
            margin-bottom: 28rpx;
            background-color: #fff;
            border-radius: 12rpx;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16rpx 10rpx;

            .base-title {
                grid-column: 1/-1;
            }

            .commodities-item {
                border: 1px solid #dbdbdb;
                border: 1px solid #dbdbdb;
                box-shadow: 0px 0px 5px #dbdbdb;

                .image-wrap {
                    @include percent-wrap(calc(3/4*100%), '.commodities-image');

                    .commodities-image {
                        border-radius: 8rpx;
                    }
                }

                .commodities-name {
                    margin: 8rpx 0;
                    font-size: 26rpx;
                    text-align: center;
                }

                .commodities-price {
                    display: flex;
                    align-items: center;
                    color: #fb5654;

                    .price-label {
                        background-color: #fee8e8;
                        padding: 4rpx 8rpx;
                        font-size: 18rpx;
                        border-radius: 3rpx;
                    }

                    .money-icon {
                        font-size: 14rpx;
                    }

                    font-size: 24rpx;
                }
            }
        }

        .buy-record {
            position: relative;
            background-color: #fff;
            border-radius: 12rpx;
            padding: 76rpx 20rpx 7rpx;

            .buy-record__title {
                position: absolute;
                z-index: 2;
                left: 50%;
                top: -15rpx;
                transform: translateX(-50%);
                height: 64rpx;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 406rpx;
                color: #1b4d2a;
                font-size: 38rpx;
                font-weight: 600;
                background: url(/static/page1/tt.png) no-repeat center;
                background-size: contain;
            }

            .news-trik {
                display: flex;

                image {
                    width: 28rpx;
                    height: 28rpx;
                    margin-right: 14rpx;
                }
            }

            .load-more {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #c9c9c9;
                font-size: 19rpx;
            }
        }
    }